<div class="mobile_footer">
	<div class="footer_link_holder">
      <a href="/" class="header_icon mobile_logo">
        <%= image_tag "logos/c_only", :class => "" %>
      </a>
    </div>
	<div class="footer_link_holder">
      <a target="_blank" href="https://github.com/vosmik" class="header_icon github">
        <%= image_tag "icons/github", :class => "" %>
      </a>
    </div>
    <div class="footer_link_holder">
      <a target="_blank" href="https://www.instagram.com/v8ickaa/" class="header_icon instagram">
        <%= image_tag "icons/instagram", :class => "" %>
      </a>
    </div>
    <div class="footer_link_holder">
      <a target="_blank" href="https://www.freecodecamp.com/vosmik" class="header_icon free_code_camp">
        <%= image_tag "icons/freeCodeCamp", :class => "" %>
      </a>
    </div>
</div>
