<!DOCTYPE html>
<html>
  <head>
    <title>Calmer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 
    	'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&amp;subset=latin-ext',
    	 media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
